<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="barndName"><i class="bi bi-flower2"></i> PlantsCare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" onclick="dashboard()">Dasboard</a>
          <a class="nav-link" href="#">Plants</a>
          <a class="nav-link disabled" aria-disabled="true">Waterings</a>
        </div>
      </div>
    </div>
  </nav>